<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css">
    <title>Smart Submit Button</title>
      </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <input type="text" placeholder="Username" id="username" />
        <input type="email" placeholder="email address" id="email">
        <input type="password" placeholder="Password" id="password" />
        <button id="submit">Submit</button>

        <p id="message-ref">Signed Up Successfully</p>
      </div>
      <ul class="instructions">
        <li>
          Username should begin with a alphabetic character, should be between 4
          to 32 letters.
        </li>
        <li>email address</li>
        <li>Password 8 character. 1 lower 1 upper 1 special symbol 1 number</li>

      </ul>
    </div>
    <script>
      let usernameRef = document.getElementById("username");
      let passwordRef = document.getElementById("password");
      let usernameError = document.getElementById("username-error");
      let passwordError = document.getElementById("password-error");
      let submitBtn = document.getElementById("submit");
      let messageRef = document.getElementById("message-ref");
      let isUsernameValid = () => {
        //   "Username should begin with a alphabetic character, should be between 4 to 32 letters."
        const usernameRegex = /^[a-zA-Z][a-zA-Z0-9]{3,32}/gi;
        return usernameRegex.test(usernameRef.value);
      };
      let isPasswordValid = () => {
        //   "Password 8 character. 1 lower 1 upper 1 special symbol 1 number"
        const passwordRegex =
          /^(?=.\d)(?=.[a-z])(?=.[A-Z])(?=.[a-zA-Z]).{8,}$/gm;
        return passwordRegex.test(passwordRef.value);
      };
      usernameRef.addEventListener("input", () => {
        if (!isUsernameValid()) {
          messageRef.style.visibility = "hidden";
          usernameRef.style.cssText =
            "border-color:#fe2e2e;background-color: #ffc2c2";
        } else {
          usernameRef.style.cssText =
            "border-color:#34bd34;background-color: #c2ffc2";
        }
      });
      passwordRef.addEventListener("input", () => {
        if (!isPasswordValid()) {
          messageRef.style.visibility = "hidden";
          passwordRef.style.cssText =
            "border-color:#fe2e2e;background-color: #ffc2c2";
        } else {
          passwordRef.style.cssText =
            "border-color:#34bd34;background-color: #c2ffc2";
        }
      });

    </script>
  </body>
</html>